.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible {
    margin: .5rem 2rem 1rem 2rem;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.title {
    font-family: Oxygen-Sans;
    font-size: 4.5rem;
}

#welcome-card {
    font-size: 30px;
    line-height: 2;
}